.grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 1em;
}

.container
{
    border-radius: 15px;
    border: 2px solid black;
    padding: 1em;
}

.container:hover
{
    cursor: pointer;
}