@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

:root{
    /*font weight*/
    --fw-thin: 100;
    --fw-Light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;    
}

/*---------------------------------------------------------------------------------------*/

.body
{
    min-width: 22.5em;
}

.Menu-active
{
    background-color: aqua;
    min-width: 22.5em;
    width: 100vw;
    height: 50%;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: rgb(193,193,193);
    background: linear-gradient(0deg, rgba(193,193,193,1) 0%, rgba(179,193,190,1) 14%, rgba(162,194,186,1) 28%, rgba(147,195,183,1) 45%, rgba(130,196,179,1) 61%, rgba(111,197,175,1) 79%, rgba(63,198,164,1) 92%, rgba(0,200,150,1) 100%); 
	opacity: 0.95; 
    padding-top: 1em;
    padding-bottom: 2em;
    padding-inline: 3em;
}

.Menu-hidden
{
    display: none;
}

.closeButton
{
    margin-bottom: 2em;
}

.menuCats
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3em;
}

.menuCats a {
    text-decoration: none;
    width: 80%;
}

.menuCats a:hover{
    background-color: #6D6D6D;
    color: white;
    opacity: 1;
}

nav
{
    margin-top: 0.4375em;
    min-width: 22.5em;
    margin-bottom: 2.3125em;
}

.top
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.6875em;
}

.top img{
    width: auto;
}

.search
{
    display: flex;
    justify-content: center;
    margin-bottom: 0.875em;
}

.search input
{
    min-width: 306px;
    border: 1px solid black;
    border-radius: 14px;
    background: url("../public/magnifier.svg") left no-repeat;
    background-position: 10px; 
}

.search input::placeholder
{
    font-weight: var(--fw-Light);
    color: black;
    text-align: center;
}

.categories-box
{
    background-color: #999999;
    margin-block: 1.5625em;
    margin-inline: auto;
    padding-block: 1.5625em;
}

.categories
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.categories a
{
    background-color: white;
    color: #6D6D6D;
    font-size: 0.75rem;
    font-weight: var(--fw-bold);
    text-align: center;
    padding-block: 0.625em;
    min-width: 7em;
    border-radius: 20px;
    text-decoration: none;
}

.nav2 a
{
    font-size: 1rem;
    min-width: 9em;
}

.goBack{
    position: absolute;
    left: 1.5em;
}

/*----*/
.content
{
    min-width: 20.9375em;
    margin-inline: auto;
}

.error
{
    width: 55%;
    text-align: center;
}

/*----------------*/
footer
{
    border-top: 2px solid #8A8989;
    text-align: center;
}

.Footerlogo
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.4375em;
    margin-bottom: 0.3125em;
}

.Footerlogo img{
    width: auto;
}

.Footerlogo p
{
    font-weight: var(--fw-semi-bold);
    font-size: 0.9375rem;
    color: #565656;
}

.text
{
    font-weight: var(--fw-thin);
    max-width: 23em;
    font-size: 0.625rem;
    margin-inline: auto;
    color: #565656;
    margin-bottom: 1.25em;
}

.social-media
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.6875em;
    margin-bottom: 1.3em;
}

.Copyright
{
    font-weight: var(--fw-bold);
    color:#4F4F4F;
    font-size: 0.625rem;
    margin-bottom: 1em;
}