.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1em;
    
    margin-bottom: 1.875em;
}

.header h1
{
    font-weight: var(--fw-regular);
    font-size: 1.25rem;
}

.header h3
{
    font-size: 0.75rem;
    font-weight: var(--fw-regular);
    color: #25D366;
}

