.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1em;
    margin-bottom: 1.875em;
}

.header h1
{
    font-weight: var(--fw-regular);
    font-size: 1.25rem;
}

.header a{
    text-decoration: none;
}

.header h3
{
    font-size: 0.75rem;
    font-weight: var(--fw-bold);
    color: #ee7c25/*#25D366*/;
}


.pageWidth
{
    width: 95%;
}

.pageCenter
{
    display: flex;
    justify-content: center;
}