.img
{
    width: 300px;
    height: 300px;
    margin-inline: auto;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 3em;
}

.Details
{
    text-align: center;
    font-weight: var(--fw-bold);
    display: flex;
    flex-direction: column;
    gap: 0.65125em;
    margin-bottom: 1em;
}

.Details h1
{
    font-size: 1.25rem;
    text-transform: capitalize;
}

.category, .marque{
    font-size: 0.75rem;
    color: #ACACAC;
}

.category span {
    color: #25D366;
}

.category:hover
{
    cursor: pointer;
}

.price
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 16.875em;
    margin-inline: auto;
    margin-bottom: 1.3125em;
}

.actual
{
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    color: #00C896;

}

.maxActual
{
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    color: #F41F1F;
}

.oldPrice
{
    margin-right: auto;
    margin-left: 1em;
    font-weight: var(--fw-bold);
    font-size: 1rem;
    color: #999999;
    text-decoration: line-through;
    text-decoration-color: black;
}

.reduction
{
    color: #fff;
    font-size: 0.875rem;
    font-weight: var(--fw-bold);
    border: none;
    border-radius: 10px;
    padding: 0.375em 0.9375em;
    background-color: hsla(165, 100%, 33%, 0.85);
}

.Qte
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
    margin-bottom: 1em;
    background-color: hsla(0, 0%, 67%, 0.3);
    max-width: 60%;
    margin-inline: auto;
    padding: .3em 1em;
    border-radius: 20px;
}

.QteValue
{
    font-size: 1.1rem;
}

.Commander
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 20.9375em;
    margin-inline: auto;
    margin-bottom: 2em;
}

.removeMB{
    margin-bottom: 0;
}

.Commander > p
{
    font-weight: var(--fw-regular);
    color: #999999;

}

.Tel,.Panier
{
    padding: 0.75em 0.75em;
    background-color: #D9D9D9;
    border: 1px solid black;
    border-radius: 10px;
}

.Panier
{
    padding: 0.625em 3.125em;
    font-weight: var(--fw-bold);
    font-size: 1rem;
    text-align: center;
}

.Panier:hover 
{
    cursor: pointer;
}

.Panier a
{
    text-decoration: none;
    color: black;
}

.Panier a:hover
{
    text-decoration: none;
    color: red;
}

.Disponibility
{
    text-align: center;
    font-weight: var(--fw-semi-bold);
    font-size: 1rem;
    margin-bottom: 1.4375em;
}

.in
{
    color: #00B243;
}

.out
{
    color: #F41F1F;
}

.Nullpanel{
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 50%,0.9);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.popUp
{
    width: 80%;
    height: 20em;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 800;
    border: 1px solid black;
    border-radius: 20px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popUp > p
{
    font-weight: var(--fw-bold);
    font-size: 1rem;
    line-height: 18.75px;
    text-align: center;
    margin-bottom: 3em;
}


.ExistingProduct
{
    text-align: center;
    color: rgb(255, 22, 22);
    font-weight: var(--fw-bold);
    font-size: 1.2rem;
    line-height: 1.3em;
    text-align: center;
    margin-bottom: 1em;
}

.minus:hover
{
    cursor: pointer;
}

.plus:hover
{
    cursor: pointer;
}

.closeNullQuantity
{
    margin-bottom: 1em;
}

.closeNullQuantity:hover
{
    cursor: pointer;
}



/* ----------- Desktop ------------ */

@media (min-width: 700px) {
    
    .desktopGrid
    {
        width: 55%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .desktopImages
    {
        margin-inline: auto;
    }

    .desktopImages > img:first-of-type
    {
        border: 2px solid black;
        border-radius: 25px;
    }

    .littleImages
    {
        display: flex;
        align-items: center; 
        justify-content: center;
        gap: 1em;
    }

    .littleImages > img
    {
        width: 100px;
        height: 100px;
    }

    .littleImages > img:hover
    {
        cursor: pointer
    }

    /* **************** Null Panel **************** */
    .popUp
    {
        width: 20%;
    }
}